* {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        text-align: center;
    background-color: black;
    padding: 50px;

      }


      nav {
  position: relative;
}

@media only screen and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}






      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 10px 20px;
      }

      .navbar a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
      }

      .navbar ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }

      .navbar li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
      }

      .navbar .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 160px;
        z-index: 1;
      }

      .navbar .dropdown:hover .dropdown-menu {
        display: block;
      }

      @media (max-width: 767px) {
        .navbar {
          flex-direction: column;
          align-items: center;
        }

        .navbar a,
        .navbar li {
          margin: 10px 0;
        }

        .navbar ul {
          display: none;
        }

        .navbar .dropdown-menu {
          position: static;
        }

        .navbar .dropdown:hover .dropdown-menu {
          display: none;
        }
      }
  
  
  
  







  

  p{font-family: 'Times New Roman', Times, serif; font-size: 17px;}
  
  button {
    
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: green; opacity: 0.8;
    color: white;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease;
    padding: 6px 9px;
    animation: pulse 1s infinite;

    
}


  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
#hmain{color: white;}
  
   
  
  

  button:hover{opacity: 0.9; color: red; background-color: white; transform: scale(1.2); }
  button:active{opacity: 0.4;}
h1{font-family: cursive; color: white; font-weight: bolder;}
  
.form1{background-color: orangered;} 
.form2{background-color: yellowgreen;} 
.form3{background-color: gray; color: white;}
.form4{background-color: pink;}
.form5{background-color: aqua; margin-bottom: 120px;}

.footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
 }

 #call-text{font-size: 28px; color: #04AA6D; 
text-decoration: none; margin-bottom: 25px;}

